#include "resources.h"
#if defined(WINDOWS) && !defined(__CONSOLE__)
#include <windows.h>

ID_ICON ICON "TheForgottenServer.ico"

ID_MENU MENU
BEGIN
	POPUP "&Main"
	BEGIN
		MENUITEM "&Reject connections", ID_MENU_MAIN_REJECT
		MENUITEM "&Clear log", ID_MENU_MAIN_CLEARLOG
		MENUITEM SEPARATOR
		MENUITEM "&Shutdown", ID_MENU_MAIN_SHUTDOWN
	END

	POPUP "&Server"
	BEGIN
		POPUP "&World Type"
		BEGIN
			MENUITEM "&Non-PVP", ID_MENU_SERVER_WORLDTYPE_NOPVP
			MENUITEM "&PVP", ID_MENU_SERVER_WORLDTYPE_PVP
			MENUITEM "PVP-&Enforced", ID_MENU_SERVER_WORLDTYPE_PVPENFORCED
		END
		MENUITEM SEPARATOR
		MENUITEM "&Broadcast message", ID_MENU_SERVER_BROADCAST
		MENUITEM "&Save server", ID_MENU_SERVER_SAVE
		MENUITEM "Clean &map", ID_MENU_SERVER_CLEAN
		MENUITEM "&Refresh map", ID_MENU_SERVER_REFRESH
		MENUITEM "&Close server", ID_MENU_SERVER_CLOSE
		MENUITEM SEPARATOR
		MENUITEM "&Players management", ID_MENU_SERVER_PLAYERBOX
	END
	POPUP "&Reload"
	BEGIN
		MENUITEM "Acti&ons", ID_MENU_RELOAD_ACTIONS
		MENUITEM "&Chat", ID_MENU_RELOAD_CHAT
		MENUITEM "&Config", ID_MENU_RELOAD_CONFIG
		MENUITEM "Creature &Events", ID_MENU_RELOAD_CREATUREEVENTS
		#ifdef __LOGIN_SERVER__
		MENUITEM "&Game Servers", ID_MENU_RELOAD_GAMESERVERS
		#endif
		MENUITEM "G&lobal Events", ID_MENU_RELOAD_GLOBALEVENTS
		MENUITEM "Gro&ups", ID_MENU_RELOAD_GROUPS
		MENUITEM "&Highscores", ID_MENU_RELOAD_HIGHSCORES
		MENUITEM "Ho&use Prices", ID_MENU_RELOAD_HOUSEPRICES
		MENUITEM "&Items", ID_MENU_RELOAD_ITEMS
		MENUITEM "Mo&ds", ID_MENU_RELOAD_MODS
		MENUITEM "&Monsters", ID_MENU_RELOAD_MONSTERS
		MENUITEM "Mov&ements", ID_MENU_RELOAD_MOVEMENTS
		MENUITEM "&Npcs", ID_MENU_RELOAD_NPCS
		MENUITEM "Out&fits", ID_MENU_RELOAD_OUTFITS
		MENUITEM "&Quests", ID_MENU_RELOAD_QUESTS
		MENUITEM "&Raids", ID_MENU_RELOAD_RAIDS
		MENUITEM "S&pells", ID_MENU_RELOAD_SPELLS
		MENUITEM "&Stages", ID_MENU_RELOAD_STAGES
		MENUITEM "&Talkactions", ID_MENU_RELOAD_TALKACTIONS
		MENUITEM "&Vocations", ID_MENU_RELOAD_VOCATIONS
		MENUITEM "&Weapons", ID_MENU_RELOAD_WEAPONS
		MENUITEM SEPARATOR
		MENUITEM "Reload &All", ID_MENU_RELOAD_ALL
	END

END
#endif
