#ifndef _CONSOLE
#include "resources.h"
#include <windows.h>

ID_ICON ICON "TheForgottenServer.ico"

ID_MENU MENU
BEGIN
	POPUP "&Main"
	BEGIN
		MENUITEM "&Clear Log", ID_MENU_FILE_CLEARLOG
		MENUITEM SEPARATOR
		MENUITEM "&Shutdown", ID_MENU_FILE_SHUTDOWN
	END

	POPUP "&Actions"
	BEGIN
		POPUP "&Reload"
		BEGIN
			MENUITEM "&Actions", ID_MENU_GAME_RELOAD_ACTIONS
			MENUITEM "&Creature Events", ID_MENU_GAME_RELOAD_CREATUREEVENTS
			MENUITEM "&Commands", ID_MENU_GAME_RELOAD_COMMANDS
			MENUITEM "&Config", ID_MENU_GAME_RELOAD_CONFIG
			MENUITEM "&Global Events", ID_MENU_GAME_RELOAD_GLOBALEVENTS
			MENUITEM "&Highscores", ID_MENU_GAME_RELOAD_HIGHSCORES
			MENUITEM "&Monsters", ID_MENU_GAME_RELOAD_MONSTERS
			MENUITEM "Mo&unts", ID_MENU_GAME_RELOAD_MOUNTS
			MENUITEM "Mo&vements", ID_MENU_GAME_RELOAD_MOVEMENTS
			MENUITEM "&Npcs", ID_MENU_GAME_RELOAD_NPCS
			MENUITEM "&Quests", ID_MENU_GAME_RELOAD_QUESTS
			MENUITEM "&Raids", ID_MENU_GAME_RELOAD_RAIDS
			MENUITEM "&Spells", ID_MENU_GAME_RELOAD_SPELLS
			MENUITEM "&Talk Actions", ID_MENU_GAME_RELOAD_TALKACTIONS
			MENUITEM SEPARATOR
			MENUITEM "&Reload All", ID_MENU_GAME_RELOAD_RELOADALL
		END
		POPUP "&World Type"
		BEGIN
			MENUITEM "&Non-PVP", ID_MENU_GAME_WORLDTYPE_NOPVP
			MENUITEM "&PVP", ID_MENU_GAME_WORLDTYPE_PVP
			MENUITEM "PVP &Enforced", ID_MENU_GAME_WORLDTYPE_PVPENFORCED
		END
	END
	
	POPUP "&Server"
	BEGIN
		MENUITEM "&Reject Connections", ID_MENU_GAME_REJECT
		MENUITEM SEPARATOR
		MENUITEM "&Broadcast Message", ID_MENU_GAME_BROADCAST
		POPUP "&Players"
		BEGIN
			MENUITEM "&Player List", ID_MENU_GAME_PLAYERS_LIST
			MENUITEM "&Save players", ID_MENU_GAME_PLAYERS_SAVE
		END
	END
END
#endif
